<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>退学网——考试列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <link rel="icon" href="images/zhixue.ico" type="image/x-icon" />
    <link rel="stylesheet" href="layui/css/layui.css">
    <style>
        body {
            background:url({{season[1]}});
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        .layui-nav{
            padding: 5px 20px;
        }
        .layui-nav-child{
            top: 35px;
        }
        .layui-nav-bar{
            top: 35px !important;
        }
        .layui-nav .layui-this:after{
            top: 25px;
        }
    </style>
</head>


<body>
    <ul class="layui-nav">
        <li class="layui-nav-item">
        <a href="javascript:;"><img src="{{avatar}}" class="layui-nav-img"></a>
          <dl class="layui-nav-child">
            <dd><a href="{{url_for('logout')}}" style="color:#FF0000">退出</a></dd>
          </dl>
        </li>
    </ul>
    <div class="login">
        <center>
            <caption style="font-size:30px">请选择考试</caption>
            {% for row in data %}
            <div>
                <a href="{{url_for('login')+'?exam='+row[0]}}" class="layui-btn layui-btn-primary" style="margin-top: 1px;margin-bottom: 1px;">{{ row[1] }}</a>
            </div>
            {% endfor %}
        </center>
    </div>
    <div class="footer">
		<center>
			<p>V1.1.4</p>
		</center>		
	</div>
    <script src="layui/jquery-3.6.0.min.js"></script>
	<script src="layui/layui.js"></script>
    <script>
        layui.use(['layer','util'],function(){
            var layer = layui.layer;
                util = layui.util;
            if('{{message}}'){
                layer.msg('{{message}}');
            }
        })
    </script>
</body>

</html>